
<!DOCTYPE HTML>

<html>
 {% include components/head.html %}
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				{% include components/header.html %}

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<span class="image"><img src="images/logo.svg" alt="" /></span>
							<h2>Zin om iets te drinken ?</h2>
							<p>Ontdek de beste bieren hier!</p>
						</header>

					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2 id="naam1">Naam bier</h2>
										<p id="percentage1">Percentage</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p id="info1" >Info bier</p>
								</div>
								<ul class="actions1">
							<li><a href="https://nl.wikipedia.org/wiki/Duvel_(bier)" target="_blank" class="button">Learn More</a></li>
						</ul>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2 id="naam2">Naam bier</h2>
							<p id="percentage2">Percentage</p>
						</header>
						<p id="info2">Info bier</p>
						<ul class="actions">
							<li><a href="https://nl.wikipedia.org/wiki/Gentse_Strop" target="_blank" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2 id="naam3">Naam bier</h2>
							<p id="percentage3">Percentage</p>
						</header>
						<p id="info3">Info bier</p>
						<ul class="actions">
							<li><a href="https://nl.wikipedia.org/wiki/Stella_Artois" target="_blank" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>





			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="http://www.twitter.com" target="_blank" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="http://www.facebook.com" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="http://www.linkedin.com" target="_blank" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="http://www.instagram.com" target="_blank" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="http://www.github.com" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="http://www.hotmail.com" target="_blank" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Hopper. All rights reserved.</li><li>Design: Robbe De Cock - Stef Deleurere</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
      <script src="assets/js/beers.js"></script>

	</body>
</html>
